#form{
    position: absolute;
    top: 370px;
    left: 29px;
}
#form form label{
    text-transform: uppercase;
    letter-spacing: 2px;
    display:inline-block;
    margin-bottom: 8px;
    margin-right: 20px;
    font-size: 14px;
    color: var( ---Very-dark-violet);
}
#form form input{
    padding: 13px;
    margin-bottom: 9px;
    width: 325px;
    border-radius: 7px;
    border: 1px solid var(---Light-grayish-violet);
    cursor: pointer;
    font-size: 19px;
}
#form form input:focus{
    outline: 1px solid rgb(133, 57, 255);
}
#form form input::placeholder{
    font-size: 19px;
    color: var(---Light-grayish-violet);
}
#form form .card-date{
    width: 70px;
    margin-right: 10px;
}
#form form .card-year{
    width: 70px;
    margin-right: 30px;
}
#form form .card-code{
    width: 135px;
}

#form form button{
    width: 325px;
    padding: 15px;
    margin-top: 20px;
    border-radius: 7px;
    font-size: 18px;
    color: var(---Light-grayish-violet);
    letter-spacing: 1px;
    background-color: rgb(31, 19, 41);
    transition: all 0.5s ease-in;
    cursor: pointer;
    border: 2px solid;
}
#form form button:hover,#form form button:focus{
    box-shadow: 0 0.5em 0.5em -0.4em rgba(178, 97, 245, 0.95);
    -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
    border: 3px solid rgba(178, 97, 245, 0.95);
    background-color: var(---white); 
    color: rgb(31, 19, 41); 
    font-size: 20px;      
}

/*alert part*/
.alert{
    display: block;
    font-size: 13px;
    color: var(---errors);
    visibility: hidden;
}
.inline{
    display: inline;
    margin-right: 90px;
}
.inline2{
    display: inline;
}
.visible{
    visibility: visible;
    margin-bottom: 7px;
}
